

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    animation-delay: 2s;
    font-style:oblique;
    position: absolute;
    font-family: 'Cardo', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: auto 40px;
    left: 500px;
    top:100px;
   line-height: 100px;
   background-color: rgb(0, 0, 0);
   background-image: url(./img/star5.png);
   background-image: url(./img/star1.png);
    animation: star 3s infinite;

}
p{
    font-family: 'Cardo', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
}
a{
    color:wheat;
    font-style: normal;
    text-decoration: none;

}
a:hover{
    
    box-shadow: 4 4 4 4 bisque;
}
:any-link
@keyframes star{
   0% 20% 40% 60% 80% 100%{
    opacity: 0;

   }
   10% 30% 50% 70% 90%{
    opacity: 1;

   }
    

}
